body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    margin-bottom: 35px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 10px 5px #00000043;
    height: 70px;
}

header img{padding-top: 12px;}

/* --------------------- navigation bar style ----------------------------*/
.main-nav{
    padding: 10px;
    display: flex;
    column-gap: 40px;
    padding-top: 18px;
}

.main-nav a{ /* To differenciate the styling of this 'a' tag or any tag with other 'a' tags */

    font-size: 20px;
    color: #3c404A;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition-duration: 0.5s; /* this is connect to the .main-nav a:hover below for howmany seconds it should last*/
    padding-top: 5px;
}

.main-nav a:hover{ /* this 'hover' is used to make effect on an object,for instance when the cursor hovers around an object or clicks it, and we changed the color to pink */
    color: #fb6376;
}

#selected{
    color:#5762D5;
}

header svg:hover{cursor: pointer; }
#moon-icon{display: none; transform: translateY(-5px);} /*To raise the moon-icon a little bit higher*/
#sun-icon{ transform: translateY(-5px);} /*To raise the sun-icon a little bit higher*/


form{
    width: 400px;
    background-color: #EEEFF1;
    border: solid 1px #3c404a2f;
    border-radius: 15px;
    color: #3d414a;
    padding: 25px;
    margin: 50px auto;
}
.field{
    width: 94%;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}
.field:focus{
    outline: solid 2px #5762D5;
}
form a{ color: #5762D5; text-decoration: none;}
button{
    width: 100%;
    background-color: #5762D5;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.3s;
}
button:hover{
    background-color: #4751c0;
    cursor: pointer;
}