{% extends 'products/_base.html' %}

{% block content %} 
<main id="product-con">
    <img class="suit" src="image/suits/p1.png">
    <img class="suit" src="image/suits/p2.png">
    <img class="suit vertical" src="image/suits/p3-vertical.png">
    <img class="suit" src="image/suits/p4.png">
    <img class="suit" src="image/suits/p5.png">
    <img class="suit" src="image/suits/p6.png">
    <img class="suit" src="image/suits/p7.png">
    <img class="suit" src="image/suits/p8.png">
</main>
{% endblock content %}